{% extends "IntegratedUserBundle::layout.html.twig" %}

{% block title %}{{ 'Authentication code'|trans }} {{ twoFactorProvider }}{% endblock %}

{% block style %}
    {{ parent() }}

    {% include('IntegratedUserBundle:partial:modal.html.twig') %}
{% endblock style %}

{% block flash %}
{% endblock flash %}

{% block body %}
    {% apply spaceless %}

        <div class="modal auth" role="dialog">

            <div class="modal-dialog">

                <div class="modal-content">

                    <form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" class="form-horizontal {% if authenticationError %}has-global-errors{% endif %}">

                        <div class="modal-header">
                            <h4 class="modal-title">{{ "Authentication code"|trans }} {{ twoFactorProvider }}</h4>
                        </div>

                        <div class="modal-body">

                            {% if authenticationError %}

                                <div class="alert alert-danger">
                                    <ul>
                                        <li>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</li>
                                    </ul>
                                </div>

                            {% endif %}

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input
                                        class="form-control"
                                        id="_auth_code"
                                        type="text"
                                        name="{{ authCodeParameterName }}"
                                        autocomplete="one-time-code"
                                        autofocus
                                        inputmode="numeric"
                                        pattern="[0-9]*"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary" type="submit" id="login" name="login">{{ 'Login'|trans }}</button>
                                    <a class="btn btn-link" href="{{ logoutPath }}">{{ "Cancel"|trans }}</a>
                                </div>
                            </div>

                            {% if isCsrfProtectionEnabled %}

                                <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}"/>

                            {% endif %}

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="modal-backdrop"></div>

    {% endapply %}
{% endblock body %}
